# Server
PORT=4000
NODE_ENV=development

# MySQL
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=scholr
DB_NAME=scholr

# Auth
JWT_SECRET=change-me-in-production
JWT_EXPIRES_IN=7d

# Seed super admin (created by db:seed)
SEED_SUPERADMIN_EMAIL=superadmin@scholr.app
SEED_SUPERADMIN_PASSWORD=admin1234
